
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {

  background-color: #F9F9F9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Inter', sans-serif;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  /* Авторизация */

width: 385px;
height: 44px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 110%;
/* identical to box height, or 44px */
text-align: center;
letter-spacing: -0.015em;

color: #232323;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}